{% extends 'base.html' %}

{% block title %}{{ post.name }}{% endblock %}

{% block content %}





<style>
.more-info {
padding:12px;
max-width:1200px;

}

.more-info p {
font-size:18px;
}
.more-info img{
width:100%;
max-height:270px;
object-fit:cover;
}
.more-info small{
color:gray;

}
.label{  
font-size:12px;
color:gray;
}

.more-info .contact{ 
margin-top:10px;
font-size:24px;
}

.go-back {
    position: fixed;
    bottom: 30px;
    font-size: 42px;
    animation: goUp ease 400ms forwards;
    background:black;    
}

.rate label {
all:unset;

}

.rate label small {
color:gray;
font-size: 16px;
}

@keyframes goUp {
    0% { bottom: 50px; 
    transform: scale(1);
    }
    100% { 
    transform: scale(0.7);
    bottom: 90px; }
}
</style>


<div 
style="
padding:12px;
margin:auto;
">

<div class="go-back publish" onclick="window.history.back()"><</div>

        <div 
        style="
        border-radius:8px 8px 0px 0px;
        overflow:hidden;
        position:relative;
        "
        
        >
        
        <img  
        style="
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        "
        src="https://nobox.kg/media/{{ post.picture }}" alt="Post Image"
        >
       
         </div>
        
      
       
        <div style="
        display:flex;
        width:100%;
        gap:4px;
        flex-wrap:wrap;
        margin-top:10px;
        ">
        {% for tag in post.tags.all %}
        
        <div style="
        padding: 5px 10px;
        background:var(--gold);
        "> 
         {{ tag.name }}
        </div>
        
           
        {% endfor %}
    </div>
    
    
    
    <div style="
    margin-top:20px;  
">  

    
    <div class="label">Цена: </div>
    {% if post.price == 0%}
    Договор
    {% else %}
    {{ post.price }}сом
    
    {% endif %}
      </div>
      <br/>
      
    <pre style="white-space: pre-wrap; font-size:16px;">
 
      <div class="label">Особые примечания:</div>
     {{ post.description }}</pre>
    
    
      <div>
    <br/>
    <form style="
    display:flex;
    gap:20px;
    font-size: 36px;
    justify-content:center;
    padding: 20px 0px 40px 0px;
    text-align:center;
    " class="rate">
    
    
<label> 😍 <input value="1" edit="false" style="display:none"/><br/>
<small>1</small>
</label>
<label style="flex: 1;"> 🙂 
    <input value="0" edit="false" style="display: none" /><br/>
    <small>2</small>
</label>
<label style="flex: 1;"> 😆 
    <input value="1" edit="false" style="display: none" /><br/>
    <small>3</small>
</label>
<label style="flex: 1;"> 🏚 
    <input value="1" edit="false" style="display: none" /><br/>
    <small>4</small>
</label>
<label style="flex: 1;"> 👨‍💻 
    <input value="1" edit="false" style="display: none" /><br/>
    <small>5</small>
</label>
    </div>
    </form>
    
    <div style="
    background:rgba(0,0,0,0.9);
    padding:0px 12px;
    color: rgba(255,255,255,0.9);
    border-radius:0px 0px 8px 8px;" 
    
    >
    

<div class="label">Опубликовано:</div>
        

    {{post.created}}
  
    
    <br/>
    <br/>

      <div class="label">Контакты:</div>
        <h3> 
    <b>+
    {% if post.state == "active" %}
 {% with post.author.phone_number as number %}
    {{ number|slice:":3" }} {{ number|slice:"3:6" }} {{ number|slice:"6:" }}
{% endwith %}
{% else %}
    🏚 Объявление уже в архиве...
{% endif %}
</b>
</h3>
  </div>

</div>
{% endblock %}
