<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Nobox{% endblock %}</title>
    
    {% load static %}
<link rel="stylesheet" href="{% static 'style.css' %}">
<!-- Latest compiled and minified CSS -->


<!-- Optional theme -->

</head>
<body>
    <header>
        {% include 'navbar.html' %}
    </header>

    <main class="">
        {% block content %}
        {% endblock %}
    </main>

<style>
footer{
margin-top:100px;
display: flex;
width:100%
justify-content:center;
align-items:center;
padding:12px;
}

</style>
    
<a style="" href="https://t.me/a1ina_bot" class="publish">
<div>+</div>
</a>

 
<!-- Latest compiled and minified JavaScript -->
<footer class="bg-light text-center py-3 mt-4">

    <div class="">
        {% if user.is_authenticated %}
            <a class="nav-link" href="{% url 'logout' %}">Выйти</a>
        {% else %}
            <a class="" href="{% url 'register' %}">Регистрация</a>
            <a class="" href="{% url 'login' %}"></a>
        <a class="" href="{% url 'login' %}">Войти</a>
       
        {% endif %}
         <p>&copy; 2024 Nobox.kg</p>
    </footer>
</body>
</html>
